<div class="actions">
  <input type="number" [(ngModel)]="width">
  <input type="number" [(ngModel)]="height">
  <button (click)="initialDimension()">Fetch Initial Dimension </button>
  <button (click)="updateNewDimension()">Update New Dimension </button>
</div>

<svg width="800px" height="800px">
  <g>
    <rect #box [attr.width]="width" [attr.height]="height"></rect>

    <circle (mouseup)="setStatus($event, 0)" (mousedown)="setStatus($event, 1)" [attr.cx]="width - 2"
      [attr.cy]="height - 2" r="5"></circle>

    <text [attr.x]="width/2" y="20">{{width | number:'1.0-0'}}px</text>
    <text x="5" [attr.y]="height/2">{{height | number:'1.0-0'}}px</text>
  </g>
</svg>